img{
    height: 100%;
    width: 100%;
}
.parent{
    display: relative;
}
.txt{
    display: absolute;
    top:1px;
    left:1px;
    z-index: 1000;
}
.card:hover{
    transform: translateY(30px);
    cursor: pointer;
}